# Jellyfin
{$JELLYFIN_PUBLISHED_URL}:443 {
  reverse_proxy localhost:{$JELLYFIN_PORT}
}

{$NAVIDROME_PUBLISHED_URL}:443 {
  reverse_proxy localhost:{$NAVIDROME_PORT}
}

{$SEAFILE_PUBLISHED_URL}:443 {
  reverse_proxy localhost:{$SEAFILE_HTTP_PORT}
}
