# NextCloud
{$NEXTCLOUD_PUBLISHED_URL}:443 {
  reverse_proxy localhost:11000
}

# Jellyfin
{$JELLYFIN_PUBLISHED_URL}:443 {
  reverse_proxy localhost:{$JELLYFIN_PORT}
}

# Navidrome
{$NAVIDROME_PUBLISHED_URL}:443 {
  reverse_proxy localhost:{$NAVIDROME_PORT}
}
