# NextCloud
{$HOMEPAGE_VAR_NEXTCLOUD_PUBLISHED_URL}:443 {
    reverse_proxy localhost:11000
}

# SearxNG
{$HOMEPAGE_VAR_SEARXNG_PUBLISHED_URL}:443 {
  reverse_proxy localhost:8085
}

# Jellyfin
{$HOMEPAGE_VAR_JELLYFIN_PUBLISHED_URL}:443 {
  reverse_proxy localhost:8096
}
